@import './font/iconfont.css';

@media only screen and (max-width: 1200px) {
  html{
    width: 100%;
  }
}

html{
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #333;
}
html, body{
  font-family: "PingFang SC", "Microsoft Yahei";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
